.searchBox {
	padding: 30px;
	margin: 20px;
	display: flex;
	justify-content: center;
}

.gridIitem {
	display: flex;
	justify-content: center;
}

.card {
	width: 345px;
	margin: 5px;
}

.media {
	height: 140px;
}

.loading {
	display: flex;
	justify-content: center;
	margin: 2rem;
}

.textArea {
	margin-right: 30px;
	width: 70%;
}
