.detailBody {
	margin: 2rem;
}

.imgContainer {
	padding: 2rem;
	display: flex;
	justify-content: center;
	max-height: 50rem;
}

.searchButton {
	padding: 1rem;
	border-radius: 50%;
	background: #fff;
	border: 1px solid;
	margin: 1rem;
}

.loading {
	display: flex;
	justify-content: center;
	margin: 2rem;
}
